In [6]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('../datasets/input_data.csv')

In [7]:
df

,RECORD_CREATION_DATE,LOAN_AMOUNT,CREDIT_RANGE,EXISTING_DEBT,AGENT_NOTES,OFFICE_LOCATION,DEFAULTED
0,01May2014:09:24:27.000000,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,False
1,01May2014:09:48:36.000000,2500,700-719,"$1-$10,000","Annual gross income: $25,400",SOUTHERN CALIFORNIA,False
2,01May2014:10:10:36.000000,6300,740-759,"$100,000+",NaN,ARIZONA,True
3,01May2014:10:31:25.000000,4300,780-799,"$1-$10,000","Annual gross income: $191,900",SOUTHERN CALIFORNIA,False
4,01May2014:10:46:54.000000,20100,780-799,"$90,001-$100,000","Verified monthly debt payments: $1,700",SOUTHERN CALIFORNIA,True
...,...,...,...,...,...,...,...
7995,07May2015:16:04:54.000000,3500,700-719,NaN,Customer has no existing debt...Annual gross i...,SOUTHERN CALIFORNIA,False
7996,07May2015:16:38:22.000000,2500,700-719,"$1-$10,000",Verified monthly debt payments: $10,SOUTHERN CALIFORNIA,True
7997,07May2015:17:04:07.000000,2500,780-799,"$10,001-$20,000","Monthly gross income 2,870",SOUTHERN CALIFORNIA,False
7998,07May2015:17:37:18.000000,2500,800+,NaN,Customer has no existing debt,NEVADA,True
7999,07May2015:17:52:58.000000,2500,740-759,"$40,001-$50,000",NaN,NORTHERN CALIFORNIA,True

In [14]:
dict(df['OFFICE_LOCATION'].value_counts())['SOUTHERN CALIFORNIA']

2096

In [16]:
dict(df['OFFICE_LOCATION'].value_counts())['NORTHERN CALIFORNIA']

1715

In [17]:
2096 + 1715

3811